# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.pytest_cache/
.ruff_cache/

# Virtual envs
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Streamlit
.streamlit/secrets.toml
